version: 2

jobs:
  build:
    docker:
      - image: cirrusci/flutter
    steps:
      - checkout
      - run: bundle check || sudo bundle install        
      - run: bundle exec Danger
      - run: flutter doctor
      - run: pub get
      - run: dartanalyzer --options analysis_options.yaml lib