version: 2

jobs:
   build:
    docker:
      - image: cirrusci/flutter
    steps:
      - checkout
      - run: bundle check || sudo bundle install        
      - run: bundle exec danger
      - run: flutter doctor
      - run: pub get
      - run: flutter test
      - run: dartanalyzer --options analysis_options.yaml --fatal-warnings lib
    
   release:
    docker:
      - image: cirrusci/flutter
    steps:
      - run: ./release.sh
      
workflows:
  version: 2
  build-test-and-approval-deploy:
    jobs:
      - build
      - release:
          requires:
            - build