version: 2
jobs:
   emulator:
    working_directory: ~/project/example/android
    docker:
      - image: circleci/android@sha256:5cdc8626cc6f13efe5ed982cdcdb432b0472f8740fed8743a6461e025ad6cdfc
    steps:
      - run:
          name: download flutter SDK
          command: if ! test -f "flutter_sdk.tar.xz"; then curl -o flutter_sdk.tar.xz https://storage.googleapis.com/flutter_infra/releases/stable/linux/flutter_linux_v1.7.8+hotfix.4-stable.tar.xz; fi
      - run:
          name: unzip flutter SDK
          command: tar xf flutter_sdk.tar.xz
      - run:
          name: export flutter path
          command: echo 'export PATH="$PATH:`pwd`/flutter/bin"'  >> $BASH_ENV 
      - run:
          name: accept lisences
          command: yes | sdkmanager --licenses || true
      - run:
          name: Setup emulator
          command: sdkmanager "system-images;android-22;default;armeabi-v7a" && echo "no" | avdmanager create avd -n test -k "system-images;android-22;default;armeabi-v7a"
      - run:
          name: Launch emulator
          command: export LD_LIBRARY_PATH=${ANDROID_HOME}/emulator/lib64:${ANDROID_HOME}/emulator/lib64/qt/lib && emulator64-arm -avd test -noaudio -no-boot-anim -no-window -accel on
          background: true
      - run: flutter doctor
      - run: 
          name: Flutter build
          command: cd ..; flutter build aot
      - run:
          name: chmod permissions
          command: chmod +x ./gradlew
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Run UITest
          command: ./gradlew connectedAndroidTest
   build:
    docker:
      - image: cirrusci/flutter
    steps:
      - checkout
      - run: bundle check || sudo bundle install        
      - run: bundle exec danger
      - run: flutter doctor
      - run: pub get
      - run: flutter test --coverage
      - run: bash <(curl -s https://codecov.io/bash)
      - run: dartanalyzer --options analysis_options.yaml --fatal-warnings lib
   android_test:
    working_directory: ~/project/example/android
    docker:
      - image: cirrusci/flutter
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run: flutter doctor
      - run: 
          name: Flutter build
          command: cd ..; flutter build aot
      - run:
          name: chmod permissions
          command: chmod +x ./gradlew
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Run UnitTest
          command: ./gradlew test
   ios_test:
    macos:
      xcode: "10.2.0"
    working_directory: ~/project/example/ios
    environment:
      FL_OUTPUT_DIR: output
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys: 
            - flutter-cache
      - run:
          name: download flutter SDK
          command: if ! test -f "flutter_sdk.zip"; then curl -o flutter_sdk.zip https://storage.googleapis.com/flutter_infra/releases/stable/macos/flutter_macos_v1.5.4-hotfix.2-stable.zip; fi
      - run:
          name: unzip flutter SDK
          command: unzip flutter_sdk.zip
      - run:
          name: export flutter path
          command: echo 'export PATH="$PATH:`pwd`/flutter/bin"'  >> $BASH_ENV 
      - run:
          name: Fetch CocoaPods Specs
          command: curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh  | bash -s cf
      - run: flutter doctor
      - run: 
          name: Flutter build
          command: cd ..; flutter build aot
      - run:
          name: Install CocoaPods
          command: pod install
      - run:
          name: Build and run tests
          command:  xcodebuild   -workspace Runner.xcworkspace   -scheme Runner   -sdk iphonesimulator   -destination 'platform=iOS Simulator,name=iPhone X,OS=12.2'   test | xcpretty
      - save_cache:
          key: flutter-cache
          paths:
            - flutter_sdk.zip
            - Pods
   release:
    docker:
      - image: cirrusci/flutter
    steps:
      - checkout
      - run: ./release.sh

   publish:
    macos:
      xcode: "10.1.0"
    steps:
      - checkout
      - run: git clone https://InstabugCI:$RELEASE_GITHUB_TOKEN@github.com/Instabug/Escape.git
      - run: cd Escape; swift build -c release -Xswiftc -static-stdlib
      - run: cd Escape/.build/release; cp -f Escape /usr/local/bin/escape
      - run: Escape flutter publish
      
workflows:
  version: 2
  build-test-and-approval-deploy:
    jobs:
      - build
      - emulator
      - android_test
      - ios_test
      - hold:
          type: approval
          requires:
            - build
            - android_test
            - ios_test
          filters:
            branches:
              only: master
      - release:
          requires:
            - hold
          filters:
            branches:
              only: master
      - publish:
          requires:
            - release
          filters:
            branches:
              only: master