version: 2

jobs:
  build:
    docker:
      - image: cirrusci/flutter
    steps:
      - checkout
      - run: bundle check || sudo bundle install        
      - run: bundle exec danger
      - run: flutter doctor
      - run: pub get
      - run: flutter test
      - run: dartanalyzer --options analysis_options.yaml --fatal-warnings lib
      - run: ./.circleci/release.sh
      # - hold:
      #     type: approval 
      # - release:
      #     requires:
      #       - hold
      #     filters:
      #       branches:
      #         only: master
      #     commands:
      #        - ./release.sh
