version: 2
jobs:
   build:
    docker:
      - image: cirrusci/flutter
    steps:
      - checkout
      - run: bundle check || sudo bundle install        
      - run: bundle exec danger
      - run: flutter doctor
      - run: pub get
      - run: flutter test
      - run: dartanalyzer --options analysis_options.yaml --fatal-warnings lib
   android_test:
    working_directory: ~/project/example/android
    docker:
      - image: cirrusci/flutter
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run: flutter doctor
      - run: 
          name: Flutter build
          command: cd ..; flutter build aot
      - run:
          name: chmod permissions
          command: chmod +x ./gradlew
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Run UnitTest
          command: ./gradlew test
   ios_test:
    macos:
      xcode: "10.2.0"
    working_directory: ~/project/example/ios
    environment:
      FL_OUTPUT_DIR: output
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          keys: 
            - flutter_sdk
      - run:
          name: download flutter SDK
          command: curl -o flutter_sdk.zip https://storage.googleapis.com/flutter_infra/releases/stable/macos/flutter_macos_v1.5.4-hotfix.2-stable.zip
      - save_cache:
          key: flutter_sdk
          paths:
            - flutter_sdk.zip
      - run:
          name: unzip flutter SDK
          command: unzip flutter_sdk.zip
      - run:
          name: export flutter path
          command: echo 'export PATH="$PATH:`pwd`/flutter/bin"'  >> $BASH_ENV 
      - run: flutter doctor
      - run:
          name: Fetch CocoaPods Specs
          command: |
            curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s cf
      # - run: flutter doctor
      # - run: 
      #     name: Flutter build
      #     command: cd ..; flutter build aot
      - run:
          name: Install CocoaPods
          command: pod install --verbose
      - run:
          name: Build and run tests
          command:  xcodebuild   -workspace Runner.xcworkspace   -scheme Runner   -sdk iphonesimulator   -destination 'platform=iOS Simulator,name=iPhone X,OS=12.2'   test
   
   release:
    docker:
      - image: cirrusci/flutter
    steps:
      - checkout
      - run: ./release.sh
      
workflows:
  version: 2
  build-test-and-approval-deploy:
    jobs:
      - build
      - android_test
      - ios_test
      - hold:
          type: approval
          requires:
            - build
            - android_test
          filters:
            branches:
              only: master
      - release:
          requires:
            - hold
          filters:
            branches:
              only: master